body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a15208;
}

header {
    background-color: #ffb300;
    color: white;
    padding: 20px;
    text-align: center;
}

.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.video {
    background: rgb(243, 235, 235);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 220px;
    box-shadow: 0 2px 5px rgb(22, 147, 11);
    text-align: center;
}

.video img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #12d315;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
